@media only screen and (max-width: 320px) {
    body {
        display: none;
    }
}

@media only screen and (width=414px) and (height=896px) {
    header div {
        background-color: red;
    }
}

header {
    display: flex;
}

.elephant1 {
    border-bottom: 143px solid lime;
    border-left: 61px solid transparent;
    border-right: 3px solid transparent;
    border-top: 100px solid transparent;
    height: 0;
    width: 152px;
    position: absolute;
    top: 195px;
    left: 262px;
    rotate: 225deg;
    z-index: 1;
}

.elephant2 {
    height: 400px;
    width: 250px;
    rotate: 320deg;
    background-color: black;
    position: absolute;
    left: 231px;
    top: 187px;
    rotate: 0deg;
}

.elephant3 {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 72px solid green;
    border-left: 100px solid transparent;
    position: absolute;
    left: 0px;
    top: 400px;
    rotate: 336deg;
}

.elephant4 {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-right: 100px solid blue;
    border-left: 200px solid transparent;
    position: absolute;
    left: -69px;
    top: 188px;
    rotate: 0deg;
}

.elephant5 {
    height: 100px;
    width: 100px;
    rotate: 45deg;
    background-color: white;
    position: absolute;
    top: 564px;
    left: 315px;
}

.elephant6 {
    position: absolute;
    top: 225px;
    left: 547px;
    width: 46px;
    border-bottom: 35px solid #aa56d2;
    border-left: 36px solid transparent;
    border-right: 24px solid transparent;
    rotate: 308deg
}

.elephant7 {
    position: absolute;
    top: 234px;
    left: 631px;
    width: 7px;
    border-bottom: 25px solid skyblue;
    border-left: 28px solid transparent;
    border-right: 5px solid transparent;
    rotate: 231deg
}

.elephant8 {
    position: absolute;
    top: 155px;
    left: 395px;
    height: 33px;
    width: 142px;
    background-color: brown;
    rotate: 0deg;
    transform: skew(39deg);
}

.elephant9 {
    position: absolute;
    top: 189px;
    left: 481px;
    height: 117px;
    width: 97px;
    background-color: gold;
    rotate: 0deg;
    transform: skew(10deg);
}

.elephant10 {
    height: 1px;
    width: 360px;
    rotate: 45deg;
    background-color: white;
    position: absolute;
    z-index: 2;
    left: 181px;
    top: 538px;
    rotate: 45deg;
}

.elephant11 {
    position: absolute;
    top: 162px;
    left: 518px;
    width: 17px;
    border-bottom: 23px solid skyblue;
    border-left: 0px solid transparent;
    border-right: 29px solid transparent;
    rotate: 196deg;
}

#carre1 {
    height: 351px;
    width: 351px;
    background-color: blue;
    transform: rotate(45deg);
    position: absolute;
    top: 436px;
    left: 834px;
}

#carre2 {
    height: 176px;
    width: 176px;
    background-color: blue;
    transform: rotate(45deg);
    position: absolute;
    top: 523px;
    left: 1042px;
}

#triangle1 {
    height: 0px;
    width: 0px;
    border-right: 180px solid transparent;
    border-bottom: 180px solid transparent;
    border-left: 180px solid black;
    border-image-outset: black;
    transform: translate(818px, 355px);
    rotate: 45deg;
    border-top: 1px solid transparent;
    position: absolute;
    left: 443px;
    top: 12px;

}

#triangle2 {
    height: 0px;
    width: 0px;
    border-right: 180px solid transparent;
    border-bottom: 180px solid transparent;
    border-left: 180px solid black;
    border-image-outset: black solid transparent;
    position: absolute;
    top: 208px;
    left: 641px;

    rotate: 225deg;
    border-top: 1px solid transparent;
}

#triangle11 {
    height: 0px;
    width: 0px;
    border-right: 174px solid transparent;
    border-bottom: 170px solid transparent;
    border-left: 170px solid rgb(0, 225, 255);
    border-image-outset: rgb(0, 225, 255);
    position: absolute;
    top: 219px;
    left: 653px;
    rotate: 225deg;
    border-top: 1px solid transparent;
}

#trianglep {
    height: 0px;
    width: 0px;
    border-right: 168px solid transparent;
    border-bottom: 168px solid transparent;
    border-left: 168px solid rgb(0, 225, 255);
    border-image-outset: blue;
    position: absolute;
    top: 840px;
    left: 780px;
    border-top: 1px solid transparent;
    rotate: 45deg;

}

#rectangle1 {
    width: 50px;
    height: 170px;
    background-color: rgb(0, 225, 255);
    position: absolute;
    top: 607px;
    left: 691px;
    rotate: 45deg;
}

#rectangle2 {
    width: 50px;
    height: 170px;
    background-color: rgb(0, 225, 255);
    position: absolute;
    top: 447px;
    left: 691px;
    rotate: 135deg;

}

#queue1 {
    height: 0px;
    width: 0px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(0, 225, 255);
    border-image-outset: blue;
    position: absolute;
    top: 449px;
    left: 572px;
    rotate: 133deg;
    border-top: 1px solid transparent;
}

#queue2 {
    height: 0px;
    width: 0;
    border-image-outset: black;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(0, 225, 255);
    border-image-outset: white;
    position: absolute;
    top: 767px;
    left: 571px;
    rotate: 136deg;
    border-top: 1px solid transparent;
}

section div {
    margin: 5px;
    border: solid;
    border: outset black;
    display: inline-flex;
    flex-direction: row;
    flex-direction: column;
}


#crabe div:nth-of-type(1) {
    width: 100px;
    height: 0;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    border-bottom: 128px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(180deg);
    top: 550px;
    left: 1750px;
    margin-bottom: 0px;
}

#crabe div:nth-of-type(1):before {
    content: '';
    width: 100px;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 120px solid red;
    top: 4px;
    left: -50px;
}

#crabe div:nth-of-type(2) {
    width: 100px;
    height: 0;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    border-bottom: 128px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    margin-top: -2px;
    top: 674px;
    left: 1524px;
}

#crabe div:nth-of-type(2):before {
    content: '';
    width: 100px;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 120px solid red;
    top: 4px;
    left: -50px;
}

#crabe div:nth-of-type(3) {
    width: 0;
    height: 0;
    border-left: 86px solid transparent;
    border-right: 166px solid transparent;
    border-bottom: 252px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(90deg);
    margin-top: -252px;
    margin-left: 460px;
    top: 550px;
    left: 1054px;
}

#crabe div:nth-of-type(3):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 80px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 240px solid orangered;
    top: 8px;
    left: -79px;
}

#crabe div:nth-of-type(4) {
    width: 0;
    height: 0;
    border-left: 166px solid transparent;
    border-right: 86px solid transparent;
    border-bottom: 252px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(270deg);
    margin-top: -252px;
    margin-left: -462px;
    top: 550px;
    left: 793px;
}

#crabe div:nth-of-type(4):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 160px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 240px solid orangered;
    top: 8px;
    left: -160px;
}

#crabe div:nth-of-type(5) {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(303deg);
    margin-top: -174px;
    margin-left: -596px;
    top: 628px;
    left: 1143px;
}

#crabe div:nth-of-type(5):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 84px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 188px solid red;
    top: 8px;
    left: -85px;
}

#crabe div:nth-of-type(6) {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(57deg);
    margin-top: -201px;
    margin-left: 596px;
    top: 627px;
    left: 1043px;
}

#crabe div:nth-of-type(6):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 84px solid transparent;
    border-bottom: 188px solid red;
    top: 8px;
    left: 2px;
}

#crabe div:nth-of-type(7) {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(71deg);
    margin-top: -367px;
    margin-left: -418px;
    top: 459px;
    left: 880px;
}

#crabe div:nth-of-type(7):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 44px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 188px solid red;
    top: 10px;
    left: -46px;
}

#crabe div:nth-of-type(8) {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(289deg);
    margin-top: -200px;
    margin-left: 414px;
    top: 460px;
    left: 815px;
}

#crabe div:nth-of-type(8):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 188px solid red;
    top: 10px;
    left: 2px;
}

#crabe div:nth-of-type(9) {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 160px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(111deg);
    margin-top: -215px;
    margin-left: -415px;
    top: 444px;
    left: 709px;
}

#crabe div:nth-of-type(9):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 76px solid transparent;
    border-right: 76px solid transparent;
    border-bottom: 154px solid orangered;
    top: 4px;
    left: -75px;
}

#crabe div:nth-of-type(10) {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 160px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(249deg);
    margin-top: -160px;
    margin-left: 412px;
    top: 445px;
    left: 535px;
}

#crabe div:nth-of-type(10):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 76px solid transparent;
    border-right: 76px solid transparent;
    border-bottom: 154px solid orangered;
    top: 4px;
    left: -75px;
}

#crabe div:nth-of-type(11) {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(48deg);
    margin-top: -315px;
    margin-left: -300px;
    top: 288px;
    left: 353px;
}

#crabe div:nth-of-type(11):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 84px solid transparent;
    border-bottom: 188px solid red;
    top: 8px;
    left: 2px;
}

#crabe div:nth-of-type(12) {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 200px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(313deg);
    margin-top: -203px;
    margin-left: 298px;
    top: 287px;
    left: 247px;
}

#crabe div:nth-of-type(12):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 84px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 188px solid red;
    top: 8px;
    left: -85px;
}

#crabe div:nth-of-type(13) {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(114deg);
    margin-top: -178px;
    margin-left: -190px;
    top: 307px;
    left: 107px;
}

#crabe div:nth-of-type(13):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 56px solid orangered;
    top: 3px;
    left: -36px;
}

#crabe div:nth-of-type(14) {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid black;
    border-top: 1px  solid transparent;
    position: relative;
    transform: rotate(247deg);
    margin-top: -64px;
    margin-left: 190px;
    top: 306px;
    left: 10px;
}

#crabe div:nth-of-type(14):before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 56px solid orangered;
    top: 3px;
    left: -36px;
}