body{
   
}

section div{
    height: 50px;
    width: 50px;
    background-color: white;
    color:white
}    

section div{
    content-visibility: 320px;
}

section div{
    margin: 5px;
    border: solid;
    border: outset black;
    display: inline-flex;
    flex-direction: row;
    flex-direction: column;
}

#carre1 {
    height: 351px;
    width: 351px;
    background-color: red;
    transform: rotate(45deg);
    position:relative;
    top: 200px; left: 400px;
}

#carre2{
    height: 176px;
    width: 176px;
    background-color: orangered;
    transform: rotate(45deg);
    position: relative;
    top: 113px; left: 240px;
}

#triangle1{
    height: 0px;
    width: 0px;
    border-right: 180px solid transparent;
    border-bottom: 180px solid transparent;
    border-left: 180px solid black;
    border-image-outset: black;
    position: relative;
    top: 427px; right: 230px;
    rotate: 45deg;
    border-top:1px solid transparent;
}

#triangle2{
    height: 0px;
    width: 0px;
    border-right: 180px solid transparent;
    border-bottom: 180px solid transparent;
    border-left: 180px solid black;
    border-image-outset: black;
    position: relative;
    bottom: 398px; right: -209px;
    rotate: 225deg;
    border-top:1px solid transparent;

}

#triangle11{
    height: 0px;
    width: 0px;
    border-right: 174px solid transparent;
    border-bottom: 170px solid transparent;
    border-left: 170px solid orange;
    border-image-outset: orange;
    position: relative;
    bottom: 398px; right: 294px;
    rotate: 225deg;
    border-top:1px solid transparent;
}

#carre22{
    height: 0px;
    width: 247px;
    position: relative;
    bottom: 150px; right: 616px;
}

#carre11{
    height: 0px;
    width: 243px;
    position: relative;
    bottom: 440px; left: 62px;

}

#trianglep{
    height: 0px;
    width: 0px;
    border-right: 168px solid transparent;
    border-bottom: 168px solid transparent;
    border-left: 168px solid orange;
    border-image-outset: orange;
    position: relative;
    top: 218px; right: 527px;
    border-top:1px solid transparent;
    rotate: 45deg;
}

#carrebas{
    height: 0px;
    width: 245px;
    position: relative;
    top: 59px; right: 200px;
}

#rectangle1{
    height: 170px;
    background-color: orange;
    position: relative;
    bottom: 5px; right: 117px;
    rotate: 45deg;
    
}

#rectangle2{
    height: 170px;
    background-color: orange;
    position: relative;
    bottom: 167px; right: 186px;
    rotate: 135deg;
    
}

section{
    position:absolute;
}














